<!DOCTYPE html>
<html>
    <head>
        <title>Image Upload</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>        
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
        <link type="text/css" rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="container">
            <div class="row form-group">
                <form method="POST" action="/"  enctype="multipart/form-data" id="upload-form">                    
                    <input name="images" id="images" type="file" multiple class="form-control-file" accept="jpg,png,jpeg,gif">
                    <div>
                        <label class="note">Valid entensions* : jpg,png,jpeg,gif</label>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>
            <div id="error">
            </div>            
            <div class="row content">
                <% if(data.length ){ 
                    data.map(val => {
                    %>
                    <div class="col-md-3">
                        <img src="<%= val.path %>" />
                    </div>
                <% 
                    })
                } else {%>
                    <div class="col-md-3">
                        <img src="https://via.placeholder.com/400" />
                    </div>
                    <div class="col-md-3">
                        <img src="https://via.placeholder.com/400" />
                    </div>
                    <div class="col-md-3">
                        <img src="https://via.placeholder.com/400" />
                    </div>
                    <div class="col-md-3">
                        <img src="https://via.placeholder.com/400" />
                    </div>
                <% } %>
            </div>
        </div>
    </body>
    <script>
        $(()=>{
            $('body').on('click',()=>{
                $('#error').text('');
            })
        })
        $( "#upload-form" ).validate({
            errorPlacement: function(error, element) {
                error.appendTo( $('#error') );
            },
            rules: {
                images: {
                    required: true,
                    extension: "png|jpg|jpeg|gif",
                    filesize: 2*1024
                }
            }
        });
        $('#upload-form').on('submit', function(){
            let fileUpload = $("input[type='file']");
            if (parseInt(fileUpload.get(0).files.length) < 4){
                alert("Please select atleast 4 files");
                return false;
            }
            else return true 
        })
    </script>
</html>