<!DOCTYPE html>
<html>
    <head>
        <title>Image Upload</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link type="text/css" rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="container">
            <div class="row form-group">
                <form method="POST" action="/"  enctype="multipart/form-data" id="upload-form">                    
                    <input name="images" type="file" multiple class="form-control-file">
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="row">
                <% if(data.length ){ 
                    data.map(val => {
                    %>
                    <div class="col-md-3">
                        <img src="<%= val.path %>" />
                    </div>
                <% 
                    })
                } else {%>
                    <div class="col-md-3">
                        <img src="https://via.placeholder.com/400" />
                    </div>
                    <div class="col-md-3">
                        <img src="https://via.placeholder.com/400" />
                    </div>
                    <div class="col-md-3">
                        <img src="https://via.placeholder.com/400" />
                    </div>
                    <div class="col-md-3">
                        <img src="https://via.placeholder.com/400" />
                    </div>
                <% } %>
            </div>
        </div>
    </body>
    <script>
        $(() => {
            $("#upload-form").on('submit', (e) => {
                e.preventDefault();
                let fileUpload = $("input[type='file']");
                if (parseInt(fileUpload.get(0).files.length) < 4){
                    alert("Please select atleast 4 files");
                }
                else{
                    $("#upload-form").submit()
                }
            })
        })
    </script>
</html>